@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.button-simple {
	border: none;
	@include h3-text(uppercase, $purple);
	background: transparent;
	cursor: pointer;
	&:hover {
		opacity: 0.5;
	}
}
.button-gray {
	border: none;
	@include h3-text(uppercase, $purple);
	background: transparent;
	cursor: pointer;
	color: $ds50;
}

