@import '../../scss/variables.scss';

.palette {
	&__item {
		display: flex;
		margin-bottom: 20px;
	}
	&__color {
		height: 70px;
    width: 70px;
    border-radius: 6px;
    margin-right: 40px;
	}
  &__color-ds100 {
		background: $ds100;
	}
  &__color-ds75 {
		background: $ds75;
	}
  &__color-ds50 {
		background: $ds50;
	}
  &__color-ds25 {
		background: $ds25;
	}
  &__color-ds5 {
		background: $ds5;
	}
  &__color-purple {
		background: $purple;
	}
	&__color-green {
		background: $green;
	}
  &__color-name {
		@include text-bold(19px, 28px, $ds100);
    margin: 0;
		padding-top: 8px;
	}
  &__color-value {
		@include montserrat(19px, 28px, $ds100);
	}
}