mixin slider
	.slider
		img.slider__item(src=require(`../../../src/img/rooms/room-2.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/room-2.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/room-3.jpg`).default alt='Фото комнаты')
		img.slider__item(src=require(`../../../src/img/rooms/room-4.jpg`).default alt='Фото комнаты')