@import '../../scss/variables.scss';

.type {
    display: grid;
    grid-template-columns: 37px 30px 336px;
		margin-bottom: 50px;
}

.type__tag {
		margin-right: 30px;
}

.type__tag-h1 {
		@include montserrat(24px, 29px, $ds25);
    text-align: right;
}

.type__tag-h2 {
	@include montserrat(19px, 23px, $ds25);
    text-align: right;
}

.type__tag-h3 {
	@include h3-text(uppercase, $ds25);
    text-align: right;
}

.type_tag-body {
		@include montserrat(14px, 24px, $ds25);
    text-align: right;
}

.type__text-h1 {
	@include text-bold(24px, 29px, $ds100);
}

.type__text-h2 {
	@include text-bold(19px, 23px, $ds100);
}

.type__text-h3 {
		@include h3-text(uppercase, $ds100);
}

.type__text-body {
	@include montserrat(14px, 24px, $ds75);
}