@import '../../scss/variables.scss';

.type {
    display: grid;
    grid-template-columns: 37px 30px 336px;
		margin-bottom: 50px;
}

.type__tag {
		margin-right: 30px;
}

.type__tag-h1 {
		@include montserrat;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
		color: $ds25;
}

.type__tag-h2 {
	@include montserrat;
    font-size: 19px;
    line-height: 23px;
    text-align: right;
    color: $ds25;
}

.type__tag-h3 {
	@include h3-text;
    text-align: right;
    text-transform: uppercase;
    color: $ds25;
}

.type_tag-body {
		@include montserrat;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: $ds25;
}

.type__text-h1 {
	@include h1-text;
}

.type__text-h2 {
	@include h2-text;
}

.type__text-h3 {
		@include h3-text;
    text-transform: uppercase;
		color: $ds100;
}

.type__text-body {
	@include body-text;
}