mixin button-like(likesCount, checked)
	if checked
		button.button-like_checked
			i.button-like__icon_checked(type='checkbox', checked= checked) favorite
			span.button-like__count_checked= likesCount
	else
		button.button-like
			i.button-like__icon(type='checkbox', checked= checked) favorite_border
			span.button-like__count= likesCount