@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.button {
    &-like {
		display: flex;
		width: 40px;
		height: 20px;
		@include material-font(10px, 9px, $ds25);	
		background: $white;
		border: 1px solid $ds25;
		border-radius: 10px;
		cursor: pointer;
		transition: all .1s;
		margin-right: 8px;
		&_checked {
			display: flex;
			width: 40px;
			height: 20px;
			@include material-font(10px, 9px, $purple);	
			background: $white;
			border: 1px solid $purple;
			border-radius: 10px;
			cursor: pointer;
			transition: all .1s;
			margin-right: 8px;
		}
		&:checked {
			@include material-font(10px, 9px, $purple);
			border: 1px solid $purple;
			background: $gradient__primary;
		}
		&__icon {
			margin-top: 5px;
			margin-left: 6px;
			margin-right: 4px;
			border-color: $ds25;
			font-style: normal;
			&:checked {
				color: $purple;
				border-color: $purple;
				background-origin: border-box;
				background-clip: content-box, border-box;
			}
			&_checked {
				margin-top: 5px;
				margin-left: 6px;
				margin-right: 4px;
				@include material-font(10px, 9px, $purple);
			}
		}
		&__count {
			border: none;
			background-color: transparent;
			margin-top: 4px;
			@include montserrat(10px, 12px, $ds25);
			&_checked {
				border: none;
				background-color: transparent;
				margin-top: 4px;
				@include montserrat(10px, 12px, $purple);
			}
		}
    }
}
