@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';
@import '../input/input.scss';

.button {
	background: $purple-gradient;
	border-radius: 22px;
	padding: 9px 20px 10px 19px;
	cursor: pointer;
	border: none;
	&:focus {
	outline: none;
	}       
	&:hover,
	&_hovered {
	opacity: 0.5;
	}
	&__border {
		background-color: $white;
		border-radius: 22px;
		border: 2px solid $purple;
		padding: 9px 20px 10px 20px;
		cursor: pointer;
		&:focus {
		outline: none;
		}     
		&:hover,
		&_hovered {
			opacity: 0.5;
		}
	}
	&__long {
		width: 100%;
		background: $purple-gradient;
		border-radius: 22px;
		border: none;
		padding: 14px 20px 15px 20px;
		color: $white;
		text-transform: uppercase;
		display: block;
		&:focus {
			outline: none;
		}   
		&:hover {
			opacity: 0.5;
		}
	}
	&__icon {
		position: absolute;
		top: -30px;
		right: -305px;
		z-index: 1;
		color: $white;
		background-color: transparent;
	}
	&__icon-wrap {
		position: relative;
	}
	&__calendar {
		background: none;
		border-radius: none;
		padding: none;
		cursor: pointer;
		border: none;
		&:focus {
		outline: none;
		}       
		&:hover,
		&_hovered {
		opacity: 0.5;
		}
	}
}

a.button__border {
	@include h3-text;
	text-transform: uppercase;
	color: $purple;
	&:focus {
		outline: none;
		}  
		&:hover,
		&_hovered {
		color: $ds50;
		}
}
a.button, a.button__long {
	@include h3-text;
	text-transform: uppercase;
	color: $white;
	text-align: center;
	&:focus {
	outline: none;
	}
	&:hover {
	opacity: 0.5;
	}
}
a.button__calendar {
	@include h3-text;
	text-transform: uppercase;
	color: $purple;
}


