mixin button(text, link)
	a(href= link ).button= text


mixin button__border(text, link)
	a(href= link ).button__border= text

mixin button__border-long(text, link)
	a(href= link ).button__border= text

mixin button__long(text, link)
	a(href= link ).button__long= text
	block
	span.button__icon-wrap
		button.button__icon
			img(src=require('blocks/button/img/button.svg').default)

mixin button__calendar(text, link)
	a(href= link ).button__calendar= text

mixin button__radio
	.button__radio
		label.button__radio-label
			input(type="radio", name="name" checked=true).button__radio-input
			span.button__radio-text Мужчина
		label.button__radio-label
			input(type="radio", name="name").button__radio-input
			span.button__radio-text Женщина

mixin button__stars(rate=0)
	.button__stars
		-for (let i=0; i<5;i++)
			if rate>i
				span.button__stars__items star 
			else
				span.button__stars__items star_border


mixin button__checkbox(text, checked)
	.button__checkbox-wrap
		label.button__checkbox-label
			input.button__checkbox-label-input(type="checkbox" checked= checked)
			span.button__checkbox-label-box
			span.button__checkbox-label-text= text
	
mixin button-like(num, checked)
	.button-like
		.button-like__img(type='checkbox', checked) heart
		.button-like__num= num

