mixin button(text, link)
	a(href= link ).button= text


mixin button__border(text, link)
	a(href= link ).button__border= text

mixin button__long(text, link)
	a(href= link ).button__long= text
	block
	span.button__icon-wrap
		button.button__icon
			img(src=require('blocks/button/img/button.svg').default)


