@import '../../scss/variables.scss';

.text-field {
  &__input {
		@include montserrat(14px, 14px, $ds100);
		padding: 13px 15px;
		width: 100%;
		opacity: 0.25;
		&-header {
			@include h3-text(uppercase, $ds100);
		}
	}
    &:focus,
    &:hover,
    &_hovered {
      opacity: 1;
      color: $ds75;
			outline: none;
		}
	&__wrap {
		background: $white;
		border-radius: 4px;
		border: 1px solid $ds25;
		width: 100%;
		outline: none;
	}
	}
