mixin text-field(placeholder, subscription)
	if subscription
		.text-field__wrap
			.text-field__wrap_inner
				input.text-field__input(type='text' readonly placeholder= placeholder)
				button(class='text-field__button') arrow_forward
	else
		.text-field__wrap
			input.text-field__input(type='text' readonly placeholder= placeholder)