{
	"extends": [
		"airbnb/base"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	"rules": {
		"no-console": 0,
		"indent": [
			2,
			"tab"
		],
		"max-len": [
			"error",
			150,
			{
				"ignoreUrls": true
			}
		],
		"prefer-destructuring": "off",
		"no-alert": "off",
		"no-tabs": "off",
		"no-plusplus": "off",
		"no-param-reassign": "off",
		"import/prefer-default-export": "off"
	}
}