mixin pagination(value)
    div.pagination(data-value= value)
        a(class='pagination-item active' href='#') 1
        a(class='pagination-item' href='#') 2
        a(class='pagination-item' href='#') 3
        a(class='pagination-item' href='#') ...
        a(class='pagination-item' href='#') 15
        a(class='pagination-item next' href='#') arrow_forward
    .pagination__description
        p <span class="pagination-description__number-range">1-12</span> из <span class="pagination-description__all-items">100+</span> вариантов аренды