@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';


.pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    &-item {
        min-width: 40px;
        min-height: 40px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        @include montserrat(12px, 15px, $ds50);
        cursor: pointer;
        &.active {
            @include h3-text(none, $white);
            background: $purple-gradient;
            }
        &.next {
            @include material-font(24px, 20.4px, $white);
            background: $green-gradient;
        }
    }
}


