include ../button/button.pug

mixin account(text)
	.account
		.account__login
			span.account__text= text
		.account__login
				+button__border-long('Войти')


mixin account2(text)
	.account
		.account__login
			span.account__text= text
		.account__login
				+button__border-long('Создать')