@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text {
		@include montserrat(14px, 18px, $black);
		align-items: center;
		text-align: center;
	}
}