@import '../../scss/variables.scss';

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text {
		@include montserrat;
		font-size: 14px;
		line-height: 18px;
		align-items: center;
		text-align: center;
		color: $black;
	}
}