include ../buttons/buttons.pug

mixin account(text, isOpen)
	.account
		.account__login
			span.account__text= text
		if isOpen
			.account__login
				+buttons({type: 'button-border', text: 'Войти'})
		else
			.account__login
				+buttons({type: 'button-border__hovered', text: 'Создать'})
