include ../../layout/ui-kit.pug
include ../../blocks/container/container.pug
include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug

block title
	title Headers footers
	block content
		+header
		+header('true', 'Юлий Цезарь')
		+footer('true')
		+footer
