mixin radio-buttons
	.radio-buttons
		label.radio-buttons__label
			input(type='radio', name='name', checked=true).radio-buttons__input
			span.radio-buttons__text Мужчина
		label.radio-buttons__label
			input(type='radio', name='name').radio-buttons__input
			span.radio-buttons__text Женщина