@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.radio-buttons {
	display: flex;
	&__label {
		display: flex;
		@include montserrat(14px, 20px, $ds50);
		margin-right: 20px;
	}
	&__input {
		appearance: none;
		width: 20px;
		height: 20px;
		background-image: url(./img/off.svg);
		margin-right: 10px;
		&:checked {
			background-image: url(./img/on.svg);
			& + &__text {
				@include montserrat(14px, 20px, $ds50);
			}
		}
	}
}