include ../photo-room/photo-room.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../reservation/reservation.pug
include ../button/button.pug

mixin booking-card
	.booking-card
		.booking-card__container
			.booking-card__header
				+photo-room
			.booking-card__date-dropdown
				+date-dropdown
			.booking-card__dropdown
				+dropdown
			.booking-card__reservation
				+reservation
			.booking-card__button
				+button__long('Забронировать')