include ../room-number/room-number.pug
include ../date-dropdown/date-dropdown.pug
include ../dropdown/dropdown.pug
include ../reservation/reservation.pug
include ../button/button.pug

mixin booking-card
	.booking-card
		.booking-card__container
			.booking-card__header
				+room-number
			.booking-card__date-dropdown
				+date-dropdown('Прибытие', 'Выезд', '19.08.2019', '23.08.2019')
			.booking-card__dropdown
				+dropdown({buttonClass:"dropdown__dropbtn dropdown-guests",name:"Сколько гостей"})
					+dropdown-btn({ buttonName:"Взрослые",inputClass:"adult",inputValue:"0"})
					+dropdown-btn({ buttonName:"Дети",inputClass:"child",inputValue:"0"})
					+dropdown-btn({ buttonName:"Младенцы",inputClass:"baby",inputValue:"0"})
			.booking-card__reservation
				+reservation
			.booking-card__button
				+button-long('Забронировать')