@import '../../scss/variables.scss';

.input__text {
		@include montserrat(14px, 24px, $ds75);
		height: 42px;
		width: 100%;
		border: 1px solid $ds25;
		border-radius: 4px;
		padding: 7px 0 8px 14px;
		&::placeholder {
			color: $ds25;
		}

		&:focus,
		&:hover {
			border-color: $ds5;
			color: $ds75;

			&::placeholder {
				color: $ds75;
				}
			}
	}


.input {
	position: relative;
	max-width: 267px;
	background: $white;
	border: 1px solid $ds25;
	border-radius: 4px;
	margin-top: 20px;

	&__icon {
			display: block;
			text-align: center;
			line-height: 40px;
			
			font-size: 24px;
			mix-blend-mode: screen;
			background-color: $white;
			width: 20px;
			height: 20px;

			&-wrap {
					position: absolute;
					right: 9px;
					top: 10px;
					border-radius: 50%;
					background: $purple-gradient;
			}
		}
}