mixin input(text, type='text', placeholder='Email')
	.input
		.input__text
			input(placeholder=placeholder, type=type, text=text)
			block
			span.input__icon-wrap
				button.input__icon
					img(src=require('blocks/input/img/arrow_forward.svg').default)