@import '../../scss/variables.scss';

.calendar {
  max-width: 380px;
  position: relative;
  z-index: 3;
  transition: max-height 0.3s;
  overflow: hidden;
  &_showed {
    max-height: 410px;
  }
}
.datepicker {
	width: 100%;
	position: relative;
	background: $white;
	border: 1px solid $ds25;
	box-sizing: border-box;
	box-shadow: 0px 10px 20px $ds5;
	border-radius: 4px;
	padding: 20px;
  &--cell {
    width: 40px;
    height: 40px;
    @include montserrat;
		font-size: 12px;
		&.-focus- {
			background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			border-radius: 22px;
		}
		&-day {
			@include h3-text;
			color: $ds50;
			}
		&.-in-range- {
			background: $purple-gradient;
			opacity: 0.25;
      &.-current- {
        background: $purple-gradient;
				opacity: 0.25;
        border-radius: 0;
      }
    }
    &.-current- {
      color: $white;
      border-radius: 50%;
    }
    &.-selected- {
			border-radius: 50%;
			background: $purple-gradient;
			border-radius: 22px;
			 &.-focus- {
				background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
				border-radius: 22px;
			}

      &.-range-to-::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        
      }
      &.-range-from-::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        
      }
    }
  }
  &--day-name {
		@include h3-text;
		color: $purple;
	  text-transform: none;
    margin-bottom: 10px;
  }
  &--content {
    margin: 0 20px;
    padding: 0;
    width: 280px;
  }
  &--nav {
    padding: 3px 15px 18px 15px;
    border: none;
    &-action {
      color: $purple;
      font-size: 24px;
		}
		&-title {
			h2 {
			@include h2-text;
			text-align: center;
			color: $ds100;
			max-width: 114px;
			}
		}
  }
  &--button {
    display: inline-block;
		@include h3-text;
		text-transform: uppercase;
		color: $purple;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      background-color: transparent;
    }
    &s {
      width: 40%;
      border: none;
    }
	}
	&--buttons {
		padding: 0;
		margin: 0;
	}
}
.button__calendar {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}