@import '../../scss/variables.scss';

.calendar {
	max-width: 380px;
	position: relative;
	z-index: 3;
	transition: max-height 0.3s;
	overflow: hidden;
	&__showed {
		max-height: 410px;
	}
	&__buttons {
		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 1;
		width: 277px;
		display: flex;
		justify-content: space-between;
	}
}

.datepicker {
	width: 100%;
	position: relative;
	background: $white;
	border: 1px solid $ds25;
	box-sizing: border-box;
	box-shadow: 0px 10px 20px $ds5;
	border-radius: 4px;
	padding: 25px;
	&--cell {
    	width: 40px;
    	height: 40px;
    	@include montserrat(12px, 1, $black);
		&.-focus- {
			background: $purple-gradient;
			border-radius: 22px;
		}
		&-day {
			@include h3-text(none, $ds50);
		}
		&.-in-range- {
			background: $purple-gradient;
			opacity: 0.25;
			&.-current- {
				background: $purple-gradient;
				opacity: 0.25;
				border-radius: 0;
			}
    	}
    	&.-current- {
			background: $green-gradient;
			border-radius: 22px;
    	}
    	&.-selected- {
			border-radius: 50%;
			background: $purple-gradient;
			border-radius: 22px;
			&.-focus- {
				background: $purple-gradient;
				border-radius: 22px;
			}
			&.-range-to-::before {
				content: "";
				position: absolute;
				width: 50%;
				height: 100%;
				left: 0;
        	}
			&.-range-from-::after {
				content: "";
				position: absolute;
				width: 50%;
				height: 100%;
				right: 0;
			}
		}
	}
	&--day-name {
		@include h3-text(none, $purple);
		margin-bottom: 10px;
	}
	&--days-names {
		margin: 8px 5px 0 -2px;
	}
	&--content {
    	padding: 0;
		width: 280px;
		margin: 38px 0 30px 0;
	}
	&--nav {
		border: none;
		padding: 0;
		justify-content: space-between;
		margin-top: -10px;
		min-width: 275px;
    	&-action {
			width: 23.93px;
			height: 24px;
			left: 1255.4px;
			top: 170px;
			@include material-font(24px, 20px, $purple);
			margin-top: 4px;
			margin-left: -2px;
		}
		&-title {
			margin: -10px;
			h2 {
				@include text-bold(19px, 23px, $ds100);
				text-align: center;
				max-width: 120px;
			}
		}
	}
	&--cells {
		margin: 2px 2px 0 -3px;
	}
}

