include ../button-simple/button-simple.pug

mixin calendar(isOpen)
	if isOpen
		.calendar.calendar__showed
			.calendar__buttons
				.calendar__buttons-clear
					+button-simple('Очистить')
				.calendar__buttons-apply
					+button-simple('Применить')
	else
		.calendar
			.calendar__buttons
				.calendar__buttons-clear
					+button-simple('Очистить')
				.calendar__buttons-apply
					+button-simple('Применить')