.calendar {
  max-width: 380px;
  position: relative;
  z-index: 3;
  transition: max-height 0.3s;
  overflow: hidden;
  &_showed {
    max-height: 410px;
  }
}
.datepicker {
	width: 100%;
	position: relative;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	padding: 20px;
  &--cell {
    width: 40px;
    height: 40px;
    font-family: "Montserrat";
		font-size: 12px;
		&.-focus- {
			background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
			border-radius: 22px;
		}
		&-day {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			color: rgba(31, 32, 65, 0.5);
			}
		&.-in-range- {
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			opacity: 0.25;
      &.-current- {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
				opacity: 0.25;
        border-radius: 0;
      }
    }
    &.-current- {
      color: #fff;
      
      border-radius: 50%;
    }
    &.-selected- {
			border-radius: 50%;
			background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			border-radius: 22px;
			 &.-focus- {
				background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
				border-radius: 22px;
			}

      &.-range-to-::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        
      }
      &.-range-from-::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        
      }
    }
  }
  &--day-name {
    font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: #BC9CFF;
	  text-transform: none;
    margin-bottom: 10px;
  }
  &--content {
    margin: 0 20px;
    padding: 0;
    width: 280px;
  }
  &--nav {
    padding: 3px 15px 18px 15px;
    border: none;
    &-action {
      color: #bc9cff;
      font-size: 24px;
		}
		&-title {
			h2 {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 19px;
			line-height: 23px;
			text-align: center;
			color: #1F2041;
			max-width: 114px;
			}
		}
  }
  &--button {
    display: inline-block;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #BC9CFF;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      background-color: transparent;
    }
    &s {
      width: 40%;
      border: none;
    }
	}
	&--buttons {
		padding: 0;
		margin: 0;
	}
}
.button__calendar {
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
}