include ../text-field/text-field.pug
include ../button/button.pug
include ../account/account.pug

mixin login
	.login
		h3.login__header Войти
			.login__input-name
				+text-field('', 'Email')
			.login__input-name
				+text-field('', 'Пароль')
		.login__button
			+button__long('Войти')
		.login__account
			+account2('Нет аккаунта на Toxin?')