@import '../../scss/variables.scss';

.login {
	max-width: 380px;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 30px 30px 30px;
	&__header {
		@include text-bold(24px, 29px, $ds100);
		margin-bottom: 20px;
	}
	&__input-name {
		@include montserrat(14px, 18px, $ds25);
		margin-bottom: 10px;
		background: $white;
		border: 1px solid $ds25;
		box-sizing: border-box;
		border-radius: 4px;
		padding: 13px 0 13px 15px;
		margin-bottom: 20px;
		:hover {
			border: none;
		}
	}
	&__button {
		margin-bottom: 30px;
	}
}
