@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.rate-button {
	background: $purple-gradient;
	width: 120px;
	height: 20px;

	&__item {
		@include material-font(24px, 20px, $black);
		display: inline-block;
		mix-blend-mode: screen;
		background-color: $white;
	}
}