@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.rate-button {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	height: 20px;

	&__item {
		@include material-font(24px, 20px, transparent);
	
		-webkit-background-clip: text;
		background-clip: text;
		background-image: $purple-gradient;
	}
}