@import '../../scss/variables.scss';

.special-offer {
  display: flex;
  &__input {
    appearance: none;
    width: 40px;
    height: 20px;
    background-image: url(./img/so_off.svg);
		margin-right: 10px;
		&:checked {
			background-image: url(./img/so_on.svg);
		}
	}
  &__text {
		@include montserrat;
    font-size: 14px;
    line-height: 20px;
    color: $ds75;
		padding-bottom: 5px;
	}
}
