mixin room-number
	.room__number
		.room__number_wrapper
			span.room__number-tag №
			span.room__number-number 888
			span.room__number-type люкс
		.room__number_wrapper
			span.room__number-price 9 990₽ 
			span.room__number-text в сутки