
block title
	title Toxin
block content
	div
		a(href='/colors-and-type.html') Colors and type
	div
		a(href='/form_elements.html') Form elements
	div
		a(href='/headers_footers.html') Headers footers
	div
		a(href='/cards.html') Cards
	div
		a(href='/landing-page.html') Landing Page
	div
		a(href='/filter-room.html') Search Room
	div
		a(href='/registration-page.html') Registration
	div
		a(href='/room-details.html') Room Details