mixin chart(items)
	p.canvas__title Впечатления от номера
	.canvas
		.canvas__inner
			.canvas__item
				.canvas__num 260
				.canvas__text голосов
		svg(class="chart" width="120" height="120" viewBox="0 0 33 33")
			circle(class="unit" stroke="url(#id-1)" r="15.9" cx="50%" cy="50%")
			circle(class="unit" stroke="url(#id-2)" r="15.9" cx="50%" cy="50%")
			circle(class="unit" stroke="url(#id-3)" r="15.9" cx="50%" cy="50%")
			defs
				linearGradient(id='id-1' x1='.5' x2='.5' y2='1')
					stop(offset="0" stop-color="#BC9CFF")
					stop(offset="100%" stop-color="#8BA4F9")
				linearGradient(id="id-2" x1="100%" y1="0%" x2="0%" y2="0%")
					stop(offset="0" stop-color="#6FCF97")
					stop(offset="100%" stop-color="#66D2EA")
				linearGradient(id="id-3" x1="0%" y1="0%" x2="0%" y2="100%")
					stop(stop-color='#ffe39c')
					stop(offset='1' stop-color='#ffba9c')
		.legend
			ul.legend-list
				each item in items
					li.legend-item= item
