include ../dropdown/dropdown
include ../date-dropdown/date-dropdown
include ../button/button

mixin search-room(isShow)
		.search-room
				.search-room__container
						h1.search-room__title Найдём номера под ваши пожелания
						.search-room__date
								+date-dropdown('Прибытие', 'Выезд', 'ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ')
						.search-room__guest
								+dropdown('guest', 0, 1, [0,0,0])
						.search-room__button
								+button-long('подобрать номер')