include ../dropdown/dropdown
include ../date-dropdown/date-dropdown
include ../buttons/buttons

mixin search-room(isShow)
		.search-room
				.search-room__container
						h1.search-room__title Найдём номера под ваши пожелания
						.search-room__date
								+date-dropdown('Прибытие', 'Выезд', 'ДД.ММ.ГГГГ', 'ДД.ММ.ГГГГ')
						.search-room__guest
							+dropdown({
								items: [
									{menuItem: 'взрослые', number: '0'},
									{menuItem: 'дети', number: '2'},
									{menuItem: 'младенцы', number: '5'}
								],
							})
						.search-room__button
								+buttons({type: 'button-long', text: 'подобрать номер'})