@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';
@import '../../../node_modules/normalize.css/normalize.css';

.footer {
	background: $white;
	box-shadow: 0px 10px 20px $ds5;
	margin-top: 40px;
	&__container {
		max-width: 1200px;
		padding: 104px 20px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-column-gap: 40px;
	}
	&__logo {
		margin: -3px 0 17px 0;
	}
	&__info {
		grid-column: span 3;
	}
	&__title {
		max-width: 260px;
		margin-top: 10px;
		@include montserrat(14px, 24px, $ds75);
	}
	&__list {
		grid-column: span 2;
		@include h3-text(uppercase, $ds100);
	}
	&__link {
		@include montserrat(14px, 17px, $ds50);
		text-transform: none;
	}
	&__item {
		margin-top: 21px;
	}
	&__form {
		grid-column: span 3;
		@include h3-text(uppercase, $ds100);
		&-item {
			@include montserrat(14px, 24px, $ds75);
			text-transform: none;
			margin-top: 19px;
		}
		&-input {
			margin-top: 23px;
		}
	}
	&__dashed {
		box-shadow: 0px 1px 0px $ds10;
		margin: 0;
		height: 1px;
	}
	&__copyright {
		display: flex;
		justify-content: space-between;
		max-width: 1160px;
		margin: auto;
		width: 80%;
		padding-top: 23px;
		padding-bottom: 26px;
		&-text {
			margin-top: 6px;
		}
	}
	&__social {
		list-style: none;
		font-size: 0;
		&-item {
			display: inline-block;
			margin-left: 21px;

		}
		&-icon {
			@include montserrat(24px, 23px, $purple);
			text-align: center;
			width: 24px;
			background: transparent;
			background-clip: text;
		}
	}
	&__mobile {

		&-logo {
			padding-bottom: 21px;
		}
		&-list {
			padding-top: 28px;
			display: flex;
			justify-content: center;
		}
		&-inner {
			width: 100%;
			max-width: 768px;
			background: $white;
			margin: 38px auto 140px auto;
			padding: 120px 0;
			box-shadow: 0px 10px 20px $ds5;
			text-align: center;
		}
		&-text {

			margin-top: 0;
		}
		&-icon {
			@include montserrat(24px, 23px, $purple);
			text-align: center;
			width: 24px;
			background: transparent;
			background-clip: text;
		}
		&-item {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}