mixin card-room
	.booking-card__room
		span.booking-card__room-tag № 
		span.booking-card__room-number 888 
		span.booking-card__room-type люкс
	.booking-card__room
		span.booking-card__room-price 9 990₽ 
		span.booking-card__room-text всутки