.booking-card__room {
	&-tag {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #1F2041;
	}
	&-number {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 17px;
		color: #1F2041;
	}
	&-type {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		color: #BC9CFF;
	}
	&-price {
		font-family: Montserrat;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.5);
	}
	&-text {
		font-family: Montserrat;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.5);
	}
}