include ../button-simple/button-simple.pug

mixin dropdown(dropdown)
	.dropdown
		div(class='dropdown__inner')
			input(type="text" value='Сколько гостей' readonly).dropdown__input
			button(class='dropdown__button-tick') expand_more
		.dropdown__menu
			ul.dropdown__list
				each item in dropdown.items
					li.dropdown__item
						.dropdown__menu-item= item.menuItem
						.dropdown__button-list
						button.dropdown__button.dropdown__button-minus -
						span.dropdown__number= item.number
						button.dropdown__button.dropdown__button-plus +  
			.dropdown__control-button
				.dropdown__reset
					+button-simple('очистить')
				.dropdown__clear
				.dropdown__used
					+button-simple('применить')

