@import '../../scss/variables.scss';


//.dropdown {
//  position: relative;
//	&__item {
//		&-input {
//			@include montserrat(14px, 18px, $ds75);
//			border: 1px solid $ds25;
//			box-sizing: border-box;
//			border-radius: 4px;
//			width: 100%;
//			padding-left: 14px;
//			height: 44px;
//			margin-top: 6px;
			
//			outline: none;
//			cursor: pointer;
//		}
//		&-icon {
//			@include material-font(24px, 24px, $ds75);
//			display: inline-block;
//			mix-blend-mode: screen;
//			background-color: $white;
//		}
//	}
//  &__label {
//			padding: 8px 44px 0 14px;
//			color: $ds75;
//			text-overflow: ellipsis;
//			white-space: nowrap;
//			overflow: hidden;
//			cursor: pointer;
//			@include h3-text(uppercase, $ds100);
//	}
//}


.dropdown {
	position: relative;
	&__info {
  display: flex;
  justify-content: space-between;
  background: $white;
  border: 1px solid $ds50;
  border-radius: 2px;
	height: 44px;
	}
	&__input {
		@include montserrat(14px, 18px, $ds75);
		width: 100%;
		border: none;
		padding-left: 15px;
	}
	&__switch-display-button {
		background: $white;
		border: none;
		width: 44px;
		&:focus {
			outline: none;
		}
	}
	&__menu {
		background: $white;
		border: 1px solid $ds50;
		border-top: none;
		border-radius: 2px;
		position: absolute;
		width: 100%;
		z-index: 10;
		padding: 13px 7px 0 15px;
		&_opened {
		display: block;
		}
		&-item {
			@include text-bold(12px, 30px, $ds100);
			text-transform: uppercase;
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;
	}

	&__button {
		width: 30px;
		height: 30px;
		border: 1px solid $ds25;
		border-radius: 22px;
		@include montserrat(18px, 30px, $ds50);
		background: $white;
		&-list {
		display: flex;
		justify-content: space-between;
		align-self: center;
		}
	}
	&__number {
		@include text-bold(12px, 30px, $ds100);
  	text-transform: uppercase;
		width: 32px;
		height: 30px;
	}
	&__control-button {
		display: flex;
		justify-content: space-between;
		margin-top: 19px;
		margin-bottom: 13px;
	}
}
.hide {
	display: none;
}
