mixin dropdown({name, className, title="Сколько гостей", items = [{ name, number }]})
	.dropdown(class=''+className)
		.dropdown__inner
			.dropdown__title= title
			button(class='dropdown__button-arrow') expand_more
		.dropdown__menu
			each item in items
				+dropdown-options(item)
			.dropdown__control-button
				button.dropdown__button-reset Очистить
				button.dropdown__button-used Применить

mixin dropdown-options({name='', number='0', min='0'}={})
	.dropdown__items
		.dropdown__wrap
			.dropdown__title-item= name
		.dropdown__button-list(data-min='')
			button.dropdown__button.dropdown__button-minus -
			input.dropdown__number(value=number, min=min, type='number')
			button.dropdown__button.dropdown__button-plus +