include ../button-simple/button-simple.pug

mixin dropdown(title)
	.dropdown__title= title
	.dropdown
		.dropdown__inner
			input(type="text" value='Сколько гостей' readonly).dropdown__input
			button(class='dropdown__button-tick') expand_more
		.dropdown__menu
			.dropdown__items Взрослые
				.dropdown__button-list
					button.dropdown__button.dropdown__button-minus -
					.dropdown__number 2
					button.dropdown__button.dropdown__button-plus +  
			.dropdown__items Дети
				.dropdown__button-list
					button.dropdown__button.dropdown__button-minus -
					.dropdown__number 1
					button.dropdown__button.dropdown__button-plus +
			.dropdown__items Младенцы
				.dropdown__button-list
					button.dropdown__button.dropdown__button-minus -
					.dropdown__number 0
					button.dropdown__button.dropdown__button-plus +
			.dropdown__control-button
				button.dropdown__button.dropdown__button-reset Очистить
				button.dropdown__button.dropdown__button-used Применить