@import "../../scss/variables.scss";

.dropdown {
	position: relative;
	margin-top: 5px;
	&__title {
		@include h3-text(uppercase, $ds100);
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		background: $white;
		border: 1px solid $ds25;
		border-radius: 2px;
		height: 44px;
	}
	&__title {
		&-item {
			@include montserrat(14px, 18px, $ds75);
			cursor: pointer;
			position: relative;
			padding: 11.7px 12px 11.7px 13.5px;
			border: 1px solid $ds25;
			border-radius: 2px;
			width: 100%;
			border: none;
			padding-left: 14px;
			padding-bottom: 2px;
		}
		&-active {
			border-radius: 2px 2px 0 0;
			border: 1px solid $ds50;
		}
	}
	&__button {
		width: 30px;
		height: 30px;
		border: 1px solid $ds25;
		border-radius: 22px;
		@include montserrat(18px, 30px, $ds50);
		background: $white;
		&-arrow {
			@include material-font(24px, 24px, $ds75);
			background: $white;
			border: none;
			width: 44px;
			padding-right: 3px;
			&:focus {
				outline: none;
			}
		}
		&-list {
			display: flex;
			justify-content: space-between;
		}
		&_hidden {
			display: none;
		}
	}
	&__menu {
		display: none;
		background: $white;
		border: 1px solid $ds50;
		border-top: none;
		border-radius: 2px;
		position: absolute;
		width: 100%;
		z-index: 10;
		padding: 6px 7px 0 15px;
		&-item {
			@include text-bold(12px, 30px, $ds100);
			text-transform: uppercase;
			margin-bottom: 7px;
		}
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	&__item {
		display: flex;
		justify-content: space-between;
	}
	&__number {
		@include text-bold(12px, 30px, $ds100);
		text-transform: uppercase;
		width: 32px;
		height: 30px;
		padding-left: 13px;
	}
	&__control-button {
		display: flex;
		justify-content: space-between;
		margin-top: 19px;
		margin-bottom: 13px;
	}
	&__minus {
		&_disabled {
			color: $ds50;
			border: 1px solid $ds25;
		}
	}
}
.active {
	display: block;
}
.button__off {
	display: none;
}
