include ../checkbox-button/checkbox-button.pug

mixin checkbox-list(login, listTitle='expandable checkbox list')
	.checkbox-list
	if login
		.checkbox-list__container
			span(class='checkbox-list__span')= listTitle
			i.checkbox-list__icon-login expand_more
	else
		.checkbox-list__container
			span(class='checkbox-list__span')= listTitle
			i.checkbox-list__icon expand_more
		ul(class='checkbox-list__menu' id='checkbox-list__menu')
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Завтрак', false)
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Письменный стол', true)
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Стул для кормления', true)
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Кроватка', true)
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Телевизор', false)
			li(class='checkbox-list__button' id='checkbox-list__button')
				+checkbox-button('Шампунь', false)
