mixin facilities-room(title, subtitle, icon, className='facilities-room')
	div(class= className)
		.facilities-room__inner
			.facilities-room__item
				.facilities-room__item-icon= icon
			.facilities-room__item
				.facilities-room__item-text
					.facilities-room__title= title
					.facilities-room__subtitle= subtitle
