mixin range-slider(name)
	.range-slider
		.range-slider__description
			p.range-slider__description-name= name
			p.range-slider__description-output 5000₽ - 10000₽
		input.js-range-slider(type='text', name='my_range', value='')