@import '../../scss/variables.scss';

.data-picker {
  &__input-header {
		margin-bottom: 5px;
	}
  &__input {
		@include montserrat(14px, 14px, $ds100);
		padding: 13px 15px;
    border: 1px solid $ds100;
    border-radius: 4px;
    width: 100%;
		opacity: 0.25;
	}
    &:focus,
    &:hover,
    &_hovered {
      opacity: 1;
      border: 1px solid $ds50;
      color: $ds75;
			outline: none;
		}
	}
