include ../../layout/ui-kit.pug
include ../../blocks/container/container.pug
include ../../blocks/logo/logo.pug
include ../../blocks/palette/palette
include ../../blocks/type/type

block title
	title Colors and Type
block content
	.colors-and-type__logo
	.colors-and-type__main
		.colors-and-type__item
			+palette
		.colors-and-type__item
			+type
		
		