
.colors-and-type {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 0 auto;
	padding-top: 82px;
	&__main {
		width: 100%;
		min-width: 400px;
	}
	&__item {
		margin-left: 125px;
	}
}