include ../slider/slider.pug
include ../photo-room/photo-room.pug

mixin room-card
		.room-card
				.room-card__slider
						+slider(image)
				.room-card__container
						.room-card__number
							+photo-room
