@import '../../scss/variables.scss';

.room-card {
	background-color: $white;
	box-shadow: 0px 10px 20px $ds5;
	border-radius: 4px;
	overflow: hidden;
	width: 270px;
	height: 257px;
	&__slider{
		margin-bottom: 20px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		margin: 0 20px;
		align-items: flex-end;
	}
	&__number {
		min-width: 230px;
		&:last-child {
			&:after {
				content: '';
				display: block;
				width: 230px;
				height: 1px;
				background: rgba(31, 32, 65, 0.1);
				margin: 10px auto 8px;
			}
		}
	}
	&__reviews {
		&-title {
			@include text-bold(14px, 18px, $ds50);
		}
	}
}
