@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.button {
	background: $purple-gradient;
	border-radius: 22px;
	padding: 9px 21px 9px 19px;
	cursor: pointer;
	border: none;
	@include h3-text(uppercase, $white);
	text-align: center;
	&:focus {
		outline: none;
	}    
	&:hover,
	&-hovered {
		opacity: 0.5;
		background: $purple-gradient;
		border-radius: 22px;
		padding: 14px 21px 15px 19px;
		cursor: pointer;
		border: none;
		@include h3-text(uppercase, $white);
		text-align: center;
	}
	&-border {
		background-color: $white;
		border-radius: 22px;
		border: 2px solid $purple;
		padding: 13px 24px 13px 25px;
		cursor: pointer;
		@include h3-text(uppercase, $purple);
		&:focus {
			outline: none;
		}     
		&:hover {
			opacity: 0.5;
			background-color: $white;
			border-radius: 22px;
			border: 2px solid $purple;
			cursor: pointer;
			@include h3-text(uppercase, $purple);
		}
		&__hovered {
			background-color: $white;
			border-radius: 22px;
			border: 2px solid $purple;
			padding: 13px 15px 13px 17px;
			cursor: pointer;
			@include h3-text(uppercase, $purple);
			&:hover {
				opacity: 0.5;
			}
		}
		&__small {
			background-color: $white;
			border-radius: 22px;
			border: 2px solid $purple;
			cursor: pointer;
			@include text-bold(12px, 18px, $purple);
			text-transform: uppercase;
			padding: 5px 17px 5px 18px;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	&-long {
		@include h3-text(uppercase, $white);
		padding-left: 1px;
		position: relative;
		
		width: 100%;
		height: 44px;
		background: $purple-gradient;
		border-radius: 22px;
		color: $white;
		border: none;
		&:hover{
			opacity: 0.5;
		}
		&::after {
			position: absolute;
			content: "arrow_forward";
			text-transform: none;
			@include material-font(24px, 14px, $white);
			right: 10px;

		}
	}
}
