include ../../layout/ui-kit.pug
include ../../blocks/container/container.pug
include ../../blocks/text-field/text-field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/toogle/toogle.pug

block title
	title Form Elements
block content
	.form-elements__container
		.form-elements__inner
			.form-elements__wrap
				.form-elements__wrap-item
					+text-field('text field', 'Email')
				.form-elements__wrap-item
					+text-field('text field', 'This is pretty awesome')
				.form-elements__wrap-item
					+dropdown('dropdown', 'Сколько гостей')
				.form-elements__wrap-item
					+text-field('masked text field', 'ДД.ММ.ГГГГ')
				.form-elements__wrap-item
					+date-dropdown('date dropdown', 'date dropdown', 'ДД.ММ.ГГГГ', '19.08.2019')
				.form-elements__wrap-item
					.form-elements__width
						+dropdown('filter date dropdown', '19авг - 23авг')
					.form-elements__width
						+subscription-text-field('subscription text field', 'Email')
			.form-elements__wrap-centr
				.form-elements__wrap-item
					.form-elements__wrap-item_header checkbox button 
					+button__checkbox('Можно курить', false)
					+button__checkbox('Можно с питомцами', true)
					+button__checkbox('Можно пригласить гостей (до 10 человек)', true)
				.form-elements__wrap-item
					.form-elements__wrap-item_header radio buttons
					+button__radio
				.form-elements__wrap-item
					.form-elements__wrap-item_header toogle
					+toogle(true)
					+toogle
				.form-elements__wrap-item
					.form-elements__wrap-item_header like buttons
					.form-elements__wrap-item_button
						+button-like(2, false)
						+button-like(12, true)