@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.form-elements {
	&__container {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px 0 60px;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3px;
	}
	&__inner {
		display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
	}
	&__wrap {
		width: 33%;
		max-width: 320px;
		&-field {
			margin-top: 7px;
		}
		&-dropdown {
			margin-top: 39px;
			margin-bottom: 40px;
		}
		&-centr {
			width: 100%;
			max-width: 265px;
		}
		&-button {
			display: flex;
			margin-top: 15px;
		}
		&-item {
			margin-bottom: 21px;
			&_header {
				@include h3-text(uppercase, $ds100);
			}
			&_flex {
				@include montserrat(12px, 15px, $ds50);
				text-transform: uppercase;
			}
			&_inner {
                display: flex;
			}
			&_buttons {
				margin-top: 40px;
			}
		}
		&-radio {
			margin-bottom: 41px;
			margin-top: 47px;
		}
		&-toogle {
			margin-top: 15px;
			margin-bottom: 41px;
		}
        &-gap {
            margin-top: 20px;
        }
        &-footer {
            width: 66%;
            max-width: 710px;
        }
	}
	&__width {
		max-width: 266px;
		margin-bottom: 41px;
	}
}
