include ../../layout/ui-kit.pug
include ../../blocks/container/container.pug
include ../../blocks/text-field/text-field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/checkbox-button/checkbox-button.pug
include ../../blocks/button/button.pug
include ../../blocks/toogle/toogle.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/facilities-room/facilities-room.pug


block title
	title Form Elements
block content
	.form-elements__container
		.form-elements__inner
			.form-elements__wrap
				.form-elements__wrap-item
					+text-field('text field', 'Email')
				.form-elements__wrap-item
					+text-field('text field', 'This is pretty awesome')
				.form-elements__wrap-item
					.form-elements__wrap-item_header dropdown
					+dropdown({
						items: [
							{menuItem: 'взрослые', number: '0'},
							{menuItem: 'дети', number: '2'},
							{menuItem: 'младенцы', number: '5'}
						],
					})
				.form-elements__wrap-item
					+text-field('masked text field', 'ДД.ММ.ГГГГ')
				.form-elements__wrap-item
					+date-dropdown('date dropdown', 'date dropdown', 'ДД.ММ.ГГГГ', '19.08.2019')
				.form-elements__wrap-item
					.form-elements__width
						.form-elements__wrap-item_header filter date dropdown
						+dropdown({
							items: [
								{menuItem: 'взрослые', number: '0'},
								{menuItem: 'дети', number: '2'},
								{menuItem: 'младенцы', number: '5'}
							],
						})
					.form-elements__width
						+subscription-text-field('subscription text field', 'Email')
			.form-elements__wrap-centr
				.form-elements__wrap-item
					.form-elements__wrap-item_header checkbox button 
					+checkbox-button('Можно курить', false)
					+checkbox-button('Можно с питомцами', true)
					+checkbox-button('Можно пригласить гостей (до 10 человек)', true)
				.form-elements__wrap-item
					.form-elements__wrap-item_header radio buttons
					+button__radio
				.form-elements__wrap-item
					.form-elements__wrap-item_header toogle
					+toogle(true)
					+toogle
				.form-elements__wrap-item
					.form-elements__wrap-item_header like buttons
					.form-elements__wrap-item_button
						+button-like(2, false)
						+button-like(12, true)
				.form-elements__wrap-item
					.form-elements__wrap-item_header rate buttons
					.form-elements__wrap-item_inner
						+button__stars('4', '5')
						+button__stars('5', '5')
			.form-elements__wrap
				.form-elements__wrap-item
					+range-slider('range slider')
				.form-elements__wrap-item
					.form-elements__wrap-item_header buttons
					.form-elements__wrap-item_buttons
						+button('click me')
						+button('click me', ' button_hovered')
					.form-elements__wrap-item_buttons
						+button__border('click me')
						+button__border('click me', ' button_hovered')
					.form-elements__wrap-item_buttons
						+button-empty('click me')
						+button-empty('click me', ' button_hovered')
					.form-elements__wrap-item_buttons
						+button-long('click me')
				.form-elements__wrap-item
					.form-elements__wrap-item_header pagination
					+pagination('1')
		.form-elements__inner
			.form-elements__wrap
				.form-elements__wrap-item
					.form-elements__wrap-item_header dropdown
					+dropdown({
						items: [
							{menuItem: 'взрослые', number: '0'},
							{menuItem: 'дети', number: '2'},
							{menuItem: 'младенцы', number: '5'}
						],
					})
				.form-elements__wrap-item
					.form-elements__wrap-item_header dropdown
					+dropdown({
						items: [
							{menuItem: 'взрослые', number: '0'},
							{menuItem: 'дети', number: '2'},
							{menuItem: 'младенцы', number: '5'}
						],
					})
			.form-elements__wrap
					.form-elements__wrap-item
						.form-elements__wrap-item_header dropdown
						+dropdown({
							items: [
								{menuItem: 'взрослые', number: '0'},
								{menuItem: 'дети', number: '2'},
								{menuItem: 'младенцы', number: '5'}
							],
						})
			.form-elements__wrap
				.form-elements__wrap-item
					.form-elements__wrap-item_header dropdown
					+dropdown({
						items: [
							{menuItem: 'взрослые', number: '0'},
							{menuItem: 'дети', number: '2'},
							{menuItem: 'младенцы', number: '5'}
							],
						})
		.form-elements__inner
			.form-elements__wrap
				.form-elements__wrap-item
					.form-elements__wrap-item_header
					+checkbox-list('true')
					+checkbox-list()
			.form-elements__wrap
				.form-elements__wrap-gap
					.form-elements__wrap-item
						.form-elements__wrap-item_header rich Checkbox Buttons
						+checkbox-button('Широкий коридор', false, 'true', 'Ширина коридоров в номере не менее 91 см.')
						+checkbox-button('Помощник для инвалидов', false, 'true', 'На 1 этаже вас встретит специалист  и проводит до номера.')
			.form-elements__wrap
				.form-elements__wrap-gap
					.form-elements__wrap-item
						.form-elements__wrap-item_header bullet list
						+bullet-list('Нельзя с питомцами')
						+bullet-list('Без вечеринок и мероприятий')
						+bullet-list('Время прибытия — после 13:00, а выезд до 12:00')
		.form-elements__inner
			+facilities-room(parametres: [{'Комфорт', 'Шумопоглощающие стены', 'insert_emoticon'}])
