@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.form-elements {
	&__container {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px 0 60px;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
	}
	&__wrap {
		width: 33%;
		max-width: 320px;
		&-centr {
			max-width: 260px;
		}
		&-item {
			&_header {
				@include h3-text(uppercase, $ds100);
			}
			&_flex {
				@include montserrat(12px, 15px, $ds50);
				text-transform: uppercase;
			}
			&_button {
				display: flex;
			}
			&_inner {
                display: flex;
			}
			&_buttons {
				margin-top: 40px;
			}
        }
        &-gap {
            margin-top: 20px;
        }
        &-footer {
            width: 66%;
            max-width: 710px;
        }
	}
	&__width {
		max-width: 266px;
	}
}
