@import '../../scss/responsive.scss';
@import '../../scss/variables.scss';

.form-elements {
	&__container {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px 0 60px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__wrap {
		width: 33%;
		max-width: 320px;
		&-centr {
			max-width: 260px;
		}
		&-item {
			&_header {
				@include h3-text(uppercase, $ds100);
			}
			&_button {
				display: flex;
			}
			&_inner {
				display: flex;
			}
		}
	}
	&__width {
		max-width: 266px;
	}
}
