@import '../../scss/variables.scss';

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.menu__link {
	text-decoration: none;
}

.menu__item {
	@include montserrat;
  font-size: 14px;
	line-height: 17px;
	margin-right: 20px;
  color: $ds50;
}

.menu__item:hover {
	@include text-bold;
  font-size: 14px;
	line-height: 17px;
	margin-right: 20px;
  color: $ds75;
}

.menu__item_active {
	@include text-bold;
  font-size: 14px;
	line-height: 17px;
	margin-right: 20px;
	color: $ds75;
}