@import '../../scss/variables.scss';

.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 0;
	position: relative;
	&__link {
		text-decoration: none;
	}
	&__item {
		@include montserrat(14px, 17px, $ds50);
		margin-right: 20px;
		&:hover {
			@include text-bold(14px, 17px, $ds75);
			margin-right: 20px;
		}
		&_active {
			@include text-bold(14px, 17px, $ds75);
			margin-right: 20px;
		}
		&_checkbox {
			@include material-font(24px, 20px, $ds50);
			position: absolute;
			top: 0;
			display: block;
			&:hover {
				@include text-bold(14px, 17px, $ds75);
				margin-right: 20px;
			}
		}
	}
}
