mixin reservation
	ul.reservation__details
		li.reservation__item
			p.reservation__item-name-first 9 990₽ х 4 суток
				span.reservation__cost 39 960₽
		li.reservation__item
			p.reservation__item-name Сбор за услуги: скидка 2 179₽
			span.reservation__details-info i
			span.reservation__cost 0₽
		li.reservation__item
			p.reservation__item-name Сбор за дополнительные услуги
			span.reservation__details-info i
			span.reservation__cost 300₽
		h2.reservation__total-label Итого
			span.reservation__total-line
			span.reservation__total-cost 38 081₽