include ../../blocks/text-field/text-field.pug
include ../../blocks/toogle/toogle.pug
include ../../blocks/button/button.pug
include ../../blocks/account/account.pug

mixin registration
	.registration
		h3.registration__header Регистрация аккаунта
		.registration__input-fullname
			.registration__input-name
				+text-field('', 'Имя')
			.registration__input-name
				+text-field('', 'Фамилия')
			.registration__radio-buttons
				+button__radio
			.registration__input-header Дата рождения
				.registration__input-name
					+text-field('', 'ДД.ММ.ГГГГ')
			.registration__input-header1 Данные для входа в сервис
				.registration__input-name
					+text-field('', 'Email')
				.registration__input-name
					+text-field('', 'Пароль')
			.registration__toogle
				+toogle(false)
			.registration__button
				+button__long('Перейти к оплате')
			.registration__login
				+account('Уже есть аккаунт на Toxin?')