include ../../blocks/data-picker/data-picker.pug
include ../../blocks/round-buttons/round-buttons.pug
include ../../blocks/special-offer/special-offer.pug
include ../../blocks/button/button.pug
include ../../blocks/account/account.pug

mixin registration
	.registration
		h3.registration__header Регистрация аккаунта
		.registration__input-fullname
			.registration__input-name
				+data-picker({value: 'Имя'})
			.registration__input-name
				+data-picker({value: 'Фамилия'})
			.registration__round-buttons
				+round-buttons
			.registration__input-header Дата рождения
				.registration__input-name
					+data-picker({value: 'ДД.ММ.ГГГГ'})
			.registration__input-header1 Данные для входа в сервис
				.registration__input-name
					+data-picker({value: 'Email'})
				.registration__input-name
					+data-picker({value: 'Пароль'})
			.registration__special-offer
				+special-offer
			.registration__button
				+button__long('Перейти к оплате')
			.registration__login
				+account('Уже есть аккаунт на Toxin?')