.cards {
	&__wrap {
	display: flex;
	margin: 72px auto 0;
	justify-content: center;
		&-item {
			width: 33%;
			max-width: 380px;
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__item {
		margin-bottom: 40px;
		margin-right: 0;
	}
}