.cards {
	&__container {
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding: 0 20px 0 60px;
	}
	&__wrap {
	display: flex;
	margin: 72px auto 0;
	justify-content: space-between;
		&-item {
			flex: 1 1 0;
			max-width: 380px;
			&:last-child {
				max-width: 320px;
			}
		}
	}
	&__item {
		margin-bottom: 40px;
		margin-right: 0;
	}
}