include ../../layout/ui-kit.pug
include ../../blocks/container/container.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/registration/registration.pug
include ../../blocks/search-room/search-room.pug
include ../../blocks/booking-card/booking-card.pug
include ../../blocks/login/login.pug
include ../../blocks/calendar/calendar.pug

block title
	title Cards
block content
	.cards
		.container
			+container
				.cards__wrap
					.cards__wrap-item
						.cards__item
							+search-room
						.cards__item
							+registration
					.cards__wrap-item
						.cards__item
							+booking-card
						.cards__item
							+login
					.cards__wrap-item
						.cards__item
							+calendar(isOpen)
							room-card