mixin signature(options)
  if options.symbol
    .signature
      h3.signature__header= options.header
      span.signature__symbol= options.symbol
  else if options.header
    .signature
      h3.signature__header= options.header