@import '../../scss/variables.scss';

.signature {
  display: flex;
	justify-content: space-between;
  &__header {
		@include h3-text;
    text-transform: uppercase;
		color: $ds100;
	}
  &__symbol {
		@include montserrat;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
		color: $ds50;
	}
}