@import '../../scss/variables.scss';

.signature {
  display: flex;
	justify-content: space-between;
  &__header {
		@include h3-text(uppercase, $ds100);
	}
  &__symbol {
		@include montserrat(12px, 15px, $ds50);
    text-align: right;
    text-transform: uppercase;
	}
}