include ../logo/logo.pug
include ../menu/menu.pug
include ../buttons/buttons.pug

mixin header(isOpen, name)
	.header__body
		.header 
			+logo('true')
			.header__nav
				+menu
			if isOpen
				.header__nameuser= name
			else
				.header__buttons
					.header__button
						+buttons({type: 'button-border', text: 'Войти'})
					.header__button
						+buttons({type: 'button', text: 'Зарегистрироваться'})