include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug

mixin header(login, name)
	.header__body
		.header 
			+logo('true')
			.header__nav
				+menu
			if login
				.header__nameuser= name
			else
				.header__buttons
					.header__button
						+button__border('Войти')
					.header__button
						+button('Зарегистрироваться')