include ../calendar/calendar.pug


mixin date-dropdown(isOpen, text='ДД.ММ.ГГГГ')
	.date-dropdown
		.date-dropdown__item
			label.date-dropdown__item-label Прибытие
				input.date-dropdown__input.in(type="text" readonly placeholder=text)
			label.date-dropdown__item-label Выезд
				input.date-dropdown__input.out(type="text" readonly placeholder=text)
