include ../calendar/calendar.pug

mixin date-dropdown(textIn, textOut, placeholderIn, placeholderOut)
	.date-dropdown
		.date-dropdown__item
			label.date-dropdown__item-label= textIn
				input.date-dropdown__input-in(type='text' placeholder= placeholderIn)
			label.date-dropdown__item-label= textOut
				input.date-dropdown__input-out(type='text' placeholder= placeholderOut)
		.date-dropdown__calendar
			+calendar

mixin filter_date-dropdown(text, placeholder)
	.filter_date-dropdown
		.filter_date-dropdown__item
			label.filter_date-dropdown__item-label= text
				input.filter_date-dropdown__input(type='text' placeholder= placeholder)
		.filter_date-dropdown__calendar
			+calendar