mixin round-buttons
  .round-buttons
    label.round-buttons__label
      input(type="radio", name="name" checked="true").round-buttons__input
      span.round-buttons__text Мужчина
    label.round-buttons__label
      input(type="radio", name="name").round-buttons__input
      span.round-buttons__text Женщина