mixin photo-room
	.booking-photo__room
		span.booking-photo__room-tag № 
		span.booking-photo__room-number 888 
		span.booking-photo__room-type люкс
	.booking-photo__room
		span.booking-photo__room-price 9 990₽ 
		span.booking-photo__room-text в сутки